a:link {
   color:#FFFFCC;
}

a:visited {
   color:#FFCCFF;
}

a:active {
   color:#FF6666;
}

.topnav{
   background-color: #000022;
   overflow: hidden;
   position: fixed;
   top: 0px;
   width: 100%;
}

.topnav a {
   float: left;
   color: #FFFFCC;
   text-align: center;
   padding: 8px 12px;
   text-decoration: none;
   font-size: 16px;
}

.topnav a:link a:visited a:active {
   color: #FFFFCC;
}

body {
   color:#CCFFFF;
   background-color: #000033;
   padding-top: 20px;
   margin: 0px;
}

section {
   margin: 20px;
}

h1{
   color: #FFFF99;
}

h2 {
   color: #FFFF99;
}

h3 {
   color: #FFFF99;
} 
h4 {
   color: #FFFF99;
} 
